<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <title>Passwort zurücksetzen</title>
  </head>

  <body>
    <header>
      <img width="180px" height="auto" src="https://demo.startinkrypto.de/assets/SK-logo.png" alt="Logo Start in Krypto" />
    </header>
    <section class="forgot-password">
      <h1>Passwort zurücksetzen</h1>
      <p>Hallo,</p>

      <p>
        du hast eine Anfrage zum Zurücksetzen deines Passworts gestellt. <br /> Klicke bitte auf den folgenden Link, um ein neues Passwort zu vergeben:
      </p>

      <a class="link" href="{{ reset_link }}">Zurücksetzen</a>

      <p>
        Mit freundlichen Grüßen
        <br />
        Elisabeth | Start in Krypto team
      </p>

      <p>Falls du diese Anfrage nicht gestellt hast, kannst du diese E-Mail ignorieren. Dein Passwort bleibt unverändert.</p>
    </section>
  </body>
</html>
